.login{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:#eaf0f7;
}
.login-form{
    background-color: white;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1)
}