.headerr{
height: 60px;
background-color: #fff;
border-bottom: 1px solid #ddd;
/* display: flex; */
align-items: center;
justify-content: space-between;
padding: 0 20px;
margin-left: 200px;
}
.Login{
background-color:rgb(35, 104, 232);
color: white;
border: none;
padding: 8px 14px;
border-radius: 6px;
cursor: pointer;
height: 10px;
width: 20px;
}